{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "proseWrap": "preserve",
        "printWidth": 120
      }
    }
  ]
}